body {
  font-size: 18px;
  line-height: calc(23 / 18);
  color: #242464;
}
.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
}

.testimonials {
  max-width: 384px;
  text-align: center;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 16px;
}

.testimonial__stars {
  color: #fcaf3b;
  margin-bottom: 18px;
  padding-top: 34px;
}

.testimonial__stars:not(:last-child) {
  margin-right: 8px;
}

.testimonial__text {
  margin-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.testimonial__author {
  padding-bottom: 32px;
}

.testimonial__author-image,
.testimonial__author-name {
  margin-bottom: 8px;
}

.testimonial__author-name {
  font-weight: 600;
}

@media (max-width: 767px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .testimonial__quote {
    font-size: 40px;
    line-height: calc(52 / 40);
  }
}
